body {
    text-rendering: optimizelegibility;
    color: #999;
    background: #f5f5f5;
}

p {
    font-weight: 300;
    line-height: 26px;
    font-size: 15px;
}

.main {
    max-width: 1292px;
    overflow: hidden;
    background-color: #fff;
    margin: 0 auto 40px auto;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
}

.logo {
    padding: 20px;
}

.join-center{
    margin: auto !important;
    float:unset !important;
    display:block !important;
}

.join-meeting {
    background: #EDF4FB;
    padding: 60px;
    margin: auto;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#content {
  margin-top: 25px;
}

footer .container {
  margin-top: 55px;
}

footer p {
    font-size: 12px;
}

footer .first {
  text-align: left;
}

footer .last {
  text-align: right;
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
}

@media only screen and (max-width: 767px) {
  footer .first {
    text-align: center;
  }
  footer .last {
    text-align: center;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}

.waiting span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.waiting span:nth-child(2) {
    animation-delay: .2s;
}

.waiting span:nth-child(3) {
    animation-delay: .4s;
}
